
.bg{
    background-color:black;
    padding:1rem
}

.main-title{
    text-align: center;
    padding: 10px 0;
    color: white;
    position: relative;
}
 .main-title::after{
   content: '';
    position: absolute;
    display: block;
    background-color: yellow;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width:100px;
    height: 2px;
 }
.cols{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.box1{
    background-color: transparent;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border: 1px solid  rgb(247, 243, 183);
    border-radius: 5px;
    width: 100%;
    text-align: center;
    height: 120px;

}
.box1 .img-class{
    width:65px;
    height: 65px;
}